.rst-content .line-block {
    margin-left: 0;
}

table.docutils td .option {
    white-space: nowrap;
}

.wy-table td, .rst-content table.docutils td, .rst-content table.field-list td{
    vertical-align: top;
    white-space: normal;
}
.wy-nav-content {
    max-width: 1200px;
}

.row-odd > td,
.row-even > td {
    background-color: #f3f6f6 !important;
}

.wy-table-odd .row-odd>td,
.wy-table-odd .row-even>td,
.wy-table-striped tr:nth-child(2n-1) .row-odd>td,
.wy-table-striped tr:nth-child(2n-1) .row-even>td,
.rst-content table.docutils:not(.field-list) tr:nth-child(2n-1) .row-odd>td,
.rst-content table.docutils:not(.field-list) tr:nth-child(2n-1) .row-even>td {
    background-color: white !important;
}

/* specific setting for table sections in holmes-config */
#configure-holmes-components td .wy-table-responsive > table > tbody > tr > td {
    background-color: white !important;
}

.rst-content dl dt {
    font-weight: normal !important;
}

.font-color-red {
    color: red;
}

.font-style-underline {
    text-decoration: underline;
}

html a:visited {
    color: #2980B9;;
}

html body a:hover {
    color: #3091d1;
}

.wy-side-nav-search>a {
    color: white !important;
}
